---
const { product } = Astro.props;
import AddToBasket from "./AddToBasket.astro";
---

<a href=`/details/${product.handle}` class="pcard" data-brand={product.brand} data-category={JSON.stringify(product.category)} data-stock={product.stock}>
  <article>
    <img src={product.images} />
    <div>
      <p id="now">{product.price}kr</p>
      <p id="before">{product.beforeprice}kr</p>
    </div>
    <h3 class="navtext">{product.brand}</h3>
    <h4 class="navtext">{product.title}</h4>
    <p class="subtle">{product.alcoholperc}% {product.category}</p>
    <AddToBasket></AddToBasket>
  </article>
</a>

<style>
  .hide {
    display: none;
  }
  
  a {
    color: var(--black);
    text-decoration: none;
    width: 45vw;
    height: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  article {
    padding: 1rem;
  }
  div {
    display: flex;
    margin-bottom: 16px;
    margin-top: 8px;
  }
  div {
    display: flex;
    margin-bottom: 16px;
  }

  div p {
    margin-right: 16px;
    font-family: var(--instrument);
  }

  #now {
    color: var(--primary);
    font-weight: 700;
  }

  #before {
    text-decoration: line-through;
  }
  .subtle {
    margin-top: 6px;
  }

  #before {
    text-decoration: line-through;
  }
  .subtle {
    margin-top: 6px;
    margin-bottom: 12px;
  }

@media (min-width: 800px) {
  a {
    width: 30vw;
    max-height: 60vw;
  }
}

@media (min-width: 1350px) {
   a {
    width: 18vw;
    max-height: 36vw;
  }
}

</style>
