---
const { product } = Astro.props;
---
<a href="details/${product.id}">
<article>
  <img src={product.images} />
  <div>
    <p id="now">{product.price}kr</p>
    <p id="before">{product.beforeprice}kr</p>
  </div>
  <h3 class="navtext">{product.brand}</h3>
  <h4 class="navtext">{product.title}</h4>
  <p class="subtle">{product.alcoholperc} English bitter</p>
</article>
</a>

<style>
  article {
    border: solid 1px;
    padding: 1rem;
    max-width: 40vw;
    max-height: 80vw;
  }
  div {
    display: flex;
    margin-bottom: 16px;
  }
  div {
    display: flex;
    margin-bottom: 16px;
  }

  div p {
    margin-right: 16px;
    font-family: var(--instrument);
  }

  #now {
    color: var(--primary);
    font-weight: 700;
  }

  #before {
    text-decoration: line-through;
  }
  .subtle {
    margin-top: 6px;
  }

  #before {
    text-decoration: line-through;
  }
  .subtle {
    margin-top: 6px;
  }
</style>
