---
//@ts-nocheck
import Layout from "../../layouts/Layout.astro";
import ProductDetails from "../../components/ProductDetails.astro";
import AddToBasket from "../../components/AddToBasket.astro";
import Artikel from "../../components/Artikel.astro";
import Button from "../../components/Button.astro";
export async function getStaticPaths() {
  const endpoint =
    "https://phmyuxewmvhrkzgmjrtw.supabase.co/rest/v1/Datastruktur_produkter?select=*";

  const options = {
    headers: { apikey: "sb_publishable_vji-RnXHn3KkTNJ4KqYoxA_HzS1mbaj" },
  };
  const response = await fetch(endpoint, options);
  const data = await response.json();

  return data.map((product) => {
    return {
      params: { id: product.handle },
      props: { product },
    };
  });
}

const { product } = Astro.props;
---

<Layout>
  <section>
    <img id="productimg" src={product.images} alt="produktbillede" />
    <article>
      <div class="left">
      <div class="brandsection">
        <h2>{product.brand}</h2>
        <h3>{product.title}</h3>
        <p>Bedst før: {product.bestbefore}</p>
        <p>{product.alcoholperc}% {product.category}</p>
        <p class="green">Lagerstatus</p>
      </div>
      <div class="tastesection">
        <h3>Smagen</h3>
        <p>{product.description}</p>
        <h4>Øllens farve (SRM)</h4>
        <img src="/imgs/beerscale.svg" alt="Øl skala" />
        <div id="arrowwrap">
        
        <svg class="arrow" width="35" height="47" viewBox="0 0 35 47" fill="none" xmlns="http://www.w3.org/2000/svg">
<path data-category="Lager" class="path" d="M18.8325 0.688298C17.9213 -0.229433 16.4439 -0.229433 15.5327 0.688298L0.683418 15.6436C-0.227806 16.5613 -0.227806 18.0493 0.683418 18.967C1.59464 19.8847 3.07203 19.8847 3.98324 18.967L17.1826 5.6734L30.3819 18.967C31.293 19.8847 32.7705 19.8847 33.6817 18.967C34.5931 18.0493 34.5931 16.5613 33.6817 15.6436L18.8325 0.688298ZM17.1826 47H19.5159V2.35H17.1826H14.8492V47H17.1826Z"/>
</svg>
        
        <svg class="arrow" width="35" height="47" viewBox="0 0 35 47" fill="none" xmlns="http://www.w3.org/2000/svg">
<path data-category="Pilsner" class="path" d="M18.8325 0.688298C17.9213 -0.229433 16.4439 -0.229433 15.5327 0.688298L0.683418 15.6436C-0.227806 16.5613 -0.227806 18.0493 0.683418 18.967C1.59464 19.8847 3.07203 19.8847 3.98324 18.967L17.1826 5.6734L30.3819 18.967C31.293 19.8847 32.7705 19.8847 33.6817 18.967C34.5931 18.0493 34.5931 16.5613 33.6817 15.6436L18.8325 0.688298ZM17.1826 47H19.5159V2.35H17.1826H14.8492V47H17.1826Z"/>
</svg>
        
        <svg class="arrow" width="35" height="47" viewBox="0 0 35 47" fill="none" xmlns="http://www.w3.org/2000/svg">
<path data-category="Session IPA" class="path" d="M18.8325 0.688298C17.9213 -0.229433 16.4439 -0.229433 15.5327 0.688298L0.683418 15.6436C-0.227806 16.5613 -0.227806 18.0493 0.683418 18.967C1.59464 19.8847 3.07203 19.8847 3.98324 18.967L17.1826 5.6734L30.3819 18.967C31.293 19.8847 32.7705 19.8847 33.6817 18.967C34.5931 18.0493 34.5931 16.5613 33.6817 15.6436L18.8325 0.688298ZM17.1826 47H19.5159V2.35H17.1826H14.8492V47H17.1826Z"/>
</svg>
        
        <svg class="arrow" width="35" height="47" viewBox="0 0 35 47" fill="none" xmlns="http://www.w3.org/2000/svg">
<path data-category="IPA" class="path" d="M18.8325 0.688298C17.9213 -0.229433 16.4439 -0.229433 15.5327 0.688298L0.683418 15.6436C-0.227806 16.5613 -0.227806 18.0493 0.683418 18.967C1.59464 19.8847 3.07203 19.8847 3.98324 18.967L17.1826 5.6734L30.3819 18.967C31.293 19.8847 32.7705 19.8847 33.6817 18.967C34.5931 18.0493 34.5931 16.5613 33.6817 15.6436L18.8325 0.688298ZM17.1826 47H19.5159V2.35H17.1826H14.8492V47H17.1826Z"/>
</svg>
        
        <svg class="arrow" width="35" height="47" viewBox="0 0 35 47" fill="none" xmlns="http://www.w3.org/2000/svg">
<path data-category="Double IPA" class="path" d="M18.8325 0.688298C17.9213 -0.229433 16.4439 -0.229433 15.5327 0.688298L0.683418 15.6436C-0.227806 16.5613 -0.227806 18.0493 0.683418 18.967C1.59464 19.8847 3.07203 19.8847 3.98324 18.967L17.1826 5.6734L30.3819 18.967C31.293 19.8847 32.7705 19.8847 33.6817 18.967C34.5931 18.0493 34.5931 16.5613 33.6817 15.6436L18.8325 0.688298ZM17.1826 47H19.5159V2.35H17.1826H14.8492V47H17.1826Z"/>
</svg>
        <svg class="arrow" width="35" height="47" viewBox="0 0 35 47" fill="none" xmlns="http://www.w3.org/2000/svg">
<path data-category="Triple IPA" class="path" d="M18.8325 0.688298C17.9213 -0.229433 16.4439 -0.229433 15.5327 0.688298L0.683418 15.6436C-0.227806 16.5613 -0.227806 18.0493 0.683418 18.967C1.59464 19.8847 3.07203 19.8847 3.98324 18.967L17.1826 5.6734L30.3819 18.967C31.293 19.8847 32.7705 19.8847 33.6817 18.967C34.5931 18.0493 34.5931 16.5613 33.6817 15.6436L18.8325 0.688298ZM17.1826 47H19.5159V2.35H17.1826H14.8492V47H17.1826Z"/>
</svg>
        
        <svg class="arrow" width="35" height="47" viewBox="0 0 35 47" fill="none" xmlns="http://www.w3.org/2000/svg">
<path data-category="" class="path" d="M18.8325 0.688298C17.9213 -0.229433 16.4439 -0.229433 15.5327 0.688298L0.683418 15.6436C-0.227806 16.5613 -0.227806 18.0493 0.683418 18.967C1.59464 19.8847 3.07203 19.8847 3.98324 18.967L17.1826 5.6734L30.3819 18.967C31.293 19.8847 32.7705 19.8847 33.6817 18.967C34.5931 18.0493 34.5931 16.5613 33.6817 15.6436L18.8325 0.688298ZM17.1826 47H19.5159V2.35H17.1826H14.8492V47H17.1826Z"/>
</svg>
        
        <svg class="arrow" width="35" height="47" viewBox="0 0 35 47" fill="none" xmlns="http://www.w3.org/2000/svg">
<path data-category="" class="path" d="M18.8325 0.688298C17.9213 -0.229433 16.4439 -0.229433 15.5327 0.688298L0.683418 15.6436C-0.227806 16.5613 -0.227806 18.0493 0.683418 18.967C1.59464 19.8847 3.07203 19.8847 3.98324 18.967L17.1826 5.6734L30.3819 18.967C31.293 19.8847 32.7705 19.8847 33.6817 18.967C34.5931 18.0493 34.5931 16.5613 33.6817 15.6436L18.8325 0.688298ZM17.1826 47H19.5159V2.35H17.1826H14.8492V47H17.1826Z"/>
</svg>
        
        <svg class="arrow" width="35" height="47" viewBox="0 0 35 47" fill="none" xmlns="http://www.w3.org/2000/svg">
<path data-category="Lyse øl" class="path" d="M18.8325 0.688298C17.9213 -0.229433 16.4439 -0.229433 15.5327 0.688298L0.683418 15.6436C-0.227806 16.5613 -0.227806 18.0493 0.683418 18.967C1.59464 19.8847 3.07203 19.8847 3.98324 18.967L17.1826 5.6734L30.3819 18.967C31.293 19.8847 32.7705 19.8847 33.6817 18.967C34.5931 18.0493 34.5931 16.5613 33.6817 15.6436L18.8325 0.688298ZM17.1826 47H19.5159V2.35H17.1826H14.8492V47H17.1826Z"/>
</svg>
        
        <svg class="arrow" width="35" height="47" viewBox="0 0 35 47" fill="none" xmlns="http://www.w3.org/2000/svg">
<path data-category="" class="path" d="M18.8325 0.688298C17.9213 -0.229433 16.4439 -0.229433 15.5327 0.688298L0.683418 15.6436C-0.227806 16.5613 -0.227806 18.0493 0.683418 18.967C1.59464 19.8847 3.07203 19.8847 3.98324 18.967L17.1826 5.6734L30.3819 18.967C31.293 19.8847 32.7705 19.8847 33.6817 18.967C34.5931 18.0493 34.5931 16.5613 33.6817 15.6436L18.8325 0.688298ZM17.1826 47H19.5159V2.35H17.1826H14.8492V47H17.1826Z"/>
</svg>
        
        <svg class="arrow" width="35" height="47" viewBox="0 0 35 47" fill="none" xmlns="http://www.w3.org/2000/svg">
<path data-category="Mørke øl" class="path" d="M18.8325 0.688298C17.9213 -0.229433 16.4439 -0.229433 15.5327 0.688298L0.683418 15.6436C-0.227806 16.5613 -0.227806 18.0493 0.683418 18.967C1.59464 19.8847 3.07203 19.8847 3.98324 18.967L17.1826 5.6734L30.3819 18.967C31.293 19.8847 32.7705 19.8847 33.6817 18.967C34.5931 18.0493 34.5931 16.5613 33.6817 15.6436L18.8325 0.688298ZM17.1826 47H19.5159V2.35H17.1826H14.8492V47H17.1826Z"/>
</svg>
        
        <svg class="arrow" width="35" height="47" viewBox="0 0 35 47" fill="none" xmlns="http://www.w3.org/2000/svg">
<path data-category="" class="path" d="M18.8325 0.688298C17.9213 -0.229433 16.4439 -0.229433 15.5327 0.688298L0.683418 15.6436C-0.227806 16.5613 -0.227806 18.0493 0.683418 18.967C1.59464 19.8847 3.07203 19.8847 3.98324 18.967L17.1826 5.6734L30.3819 18.967C31.293 19.8847 32.7705 19.8847 33.6817 18.967C34.5931 18.0493 34.5931 16.5613 33.6817 15.6436L18.8325 0.688298ZM17.1826 47H19.5159V2.35H17.1826H14.8492V47H17.1826Z"/>
</svg>
        

        </div>
        <h4>Untapped rating: {product.rating}</h4>
      </div>
      </div>

      <div class="right">
      <div class="pricesection">
        <p class="green">1 stk.</p>
        <div class="pricetop green">
          <p>Besparelse</p>
          <p>{product.price} DKK/stk.</p>
        </div>
        <div class="pricebottom">
          <p class="vejl">{product.beforeprice} DKK (vejl. markedspris)</p>
        </div>
      </div>

      <div class="pricesection">
        <p class="green">6 stk.</p>
        <div class="pricetop green">
          <p>Besparelse</p>
          <p>{product.price} DKK/stk.</p>
        </div>
        <div class="pricebottom">
          <p class="vejl">{product.beforepricepack} DKK (vejl. markedspris)</p>
          <p>{product.pricepack} DKK total</p>
        </div>
      </div>
      <div id="knap">
      <AddToBasket></AddToBasket>
      </div>
      </div>
    </article>
  </section>
  
    <Artikel
    img="/imgs/redderimg.webp"
    tag="Vi giver specialøl en ny chance"
    text1=""
    text2="Du vil med dette abonnement få leveret specialøl fra ind- og udland hver måned inden for de fleste aspekter af øllets verden - om du er nybegynder eller har drukket masser af forskellige øl i mange år, kan vi garantere dig at du får lækre smagsoplevelser, som kan åbne eller udvide din horisont inden for øllets verden."
    ><p>Abonnementskassen består af 12 specialøl (2 af hver), som du med stor sandsynlighed ikke finder i dit lokale supermarked. Vi håndplukker, og sammensætter øllene for dig, så du kommer så bredt rundt som muligt.</p>
    <Button title="Vores udvalg" variant="primary" />
  </Artikel>

  <div>
    <img class="ansvar" src="/imgs/ansvarimg.webp" alt="">
  </div>
  
  <div id="product-data" data-fisk={product.category}></div>
</Layout>

<style>

  section {
    background-image: url(/public/imgs/seamless_grid13.svg);
    background-size: contain;
    background-repeat: repeat-y;
    width: 90vw;
    border: solid 3px var(--grey);
    margin: 64px auto;
    display: grid;
  }

  article {
    border: solid 3px var(--grey);
    padding: 2rem;
    background-color: var(--true-white);
    margin: 32px 32px 32px 32px;
  }

  .pricesection {
    border-top: double 3px var(--black);
    border-bottom: double 3px var(--black);
    margin-top: 16px;
  }

  .pricesection p {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .pricetop,
  .pricebottom {
    display: flex;
    justify-content: space-between;
  }

  h2,
  h3 {
    margin-bottom: 8px;
  }

  .brandsection p {
    margin-bottom: 8px;
  }

  .tastesection h4 {
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .arrow {
    width: 1rem;
  }
  #arrowwrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 16px;
    padding: 0 6px;
  }

  .green {
    color: var(--primary);
  }

  .vejl {
    color: var(--grey);
    text-decoration: line-through;
  }

  .path {
    fill: var(--primary);
  }

  .hide {
    fill: var(--true-white);
  }

  body {
    background-color: var(--white);
  }
  
  .ansvar {
    border-top: double 3px var(--black);
    border-bottom: double 3px var(--black);
    width: 90vw;
    margin: 96px 5vw;
  }

@media (min-width: 800px) {
  article {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 64px;
    margin: 32px 32px 32px 8px;
  }
  #productimg {
    margin-top: 32px;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .right {
    display: flex;
    flex-direction: column;
  }

#knap {
  display: flex;
  height: stretch;
  justify-content: end;
  align-items: end;
}

#arrowwrap {
  padding: 0px 2px;
}

}

</style>

<script define:vars={{product}}>
// Script til at vælge hvilken pil der skal vises på skalaen

  function showarrow(e) {
    const arrows = document.querySelectorAll(".path");
    const productcategory = product.category;
    
    arrows.forEach((arrow) => {
      
      if (productcategory.includes(arrow.dataset.category)) {
        arrow.classList.remove("hide");
      } else {
        arrow.classList.add("hide");
      }

    }
  
  );
  }

  showarrow();

</script>
